* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.header-section {
  width: 100%;
  height: auto;
  background-image: url(./assets/hero-1.jpg.webp);
  background-position: center;
  background-size: cover;
}
.header-info-left {
  display: flex;
  gap: 10px;
  color: white;
}
.header-info-right {
  display: flex;
  gap: 10px;
  color: white;
  justify-content: flex-end;
}
.info-items {
  display: flex;
  gap: 10px;
  align-items: center;
  p {
    font-size: 14px;
    margin: 0;
  }
}
.icon-box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(46, 46, 112);
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 14px;
  }
}
.header-img {
  padding-bottom: 150px;
}
.header-text {
  padding-top: 150px;
  color: white;
  p {
    font-size: 20px;
  }
  h3 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.nav-list {
  display: flex;
  list-style-type: none;
  color: white;
  gap: 20px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  li {
    position: relative;
  }
}

.nav-list li::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 0;
  height: 10px;
  background-color: blueviolet;
  opacity: 0.7;
  transition: all 0.2s ease-in;
}
.nav-list li:hover::before {
  width: 100%;
}
.get-started {
  width: 200px;
  padding: 14px;
  border-radius: 30px;
  background-color: rgb(95, 95, 236);
  border: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 15px;
  transition: all 0.3s ease-in;

  &:hover{
    background-color: blue;
  }
}
.register-domain {
  padding: 100px 0;
  height: auto;
}
.form {
  align-items: center;
  position: relative;
  button {
    position: absolute;
    right: 8%;
    top: 6px;
    padding: 10px 28px;
    border-radius: 40px;
    background-color: rgb(123, 123, 228);
    border: none;
    color: white;
    font-weight: 600;
  }
}
input {
  width: 86%;
  height: 56px;
  border: 3px solid rgb(119, 99, 194);
  border-radius: 40px;
  padding: 10px;
}
.register-text {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}
.amount-items {
  p {
    font-size: 20px;
    color: rgb(53, 53, 202);
    font-weight: 600;
    padding-right: 10px;
  }
  h4 {
    font-weight: 700;
    font-size: 24px;
  }
}
.solution-section {
  background-color: rgb(236, 235, 235);
  padding: 100px 0px;
}
.solution-items {
  border-radius: 15px;
  height: auto;
  padding: 40px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s ease-in;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  h5 {
    font-weight: 700;
  }
  p {
    color: blue;
  }
}
.choose-plan {
  padding: 100px 0;
}
.price-button {
  width: 270px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid blue;
  border-radius: 50px;
  padding: 2px 3px;
}
.button-1 {
  width: 50%;
  background-color: rgb(82, 82, 223);
  height: 100%;
  color: white;
  font-weight: 700;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-2 {
  width: 50%;
  height: 100%;
  color: rgb(56, 55, 55);
  font-weight: 700;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin-top: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px 0;
  transition: all 0.4s ease-in;

  h4 {
    font-weight: 800;
    padding-bottom: 20px;
  }
  h3 {
    width: 105%;
    transform: translateX(-3%);
    padding: 19px 15px;
    border-radius: 15px;
    background-color: rgb(45, 66, 78);
    color: white;
    display: block;
    transition: all 0.4s ease-in;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  ul li {
    line-height: 40px;
  }
  button {
    padding: 15px;
    border-radius: 40px;
    font-weight: 700;
    color: black;
    font-size: 20px;
    border: none;
    background-color: rgb(233, 231, 231);
    margin: 0 10px;
    transition: all 0.4s ease-in;
  }
}
.pricing-items:hover button {
  background-color: blue;
}
.pricing-items:hover h3 {
  background-color: blue;
}
.pricing-items:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.achivment-section {
  width: 100%;
  height: auto;
  background-image: url(./assets/achievement-bg.jpg.webp);
  background-position: center;
  background-size: cover;
  position: relative;
}
.achivment-items {
  padding-top: 10px;
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  color: white;
  i {
    font-size: 40px;
    padding-bottom: 10px;
    color: blue;
  }
  h3 {
    font-size: 35px;
    font-weight: 700;
    margin: 0;
  }
  p {
    font-size: 24px;
  }
}
.how-build {
  padding: 50px 0;
  margin-bottom: 120px;
  color: white;
  font-weight: 700;
}

.section-content {
  padding: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  transform: translateY(-150px);
}
.content-items {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin-top: 20px;
  i {
    font-size: 50px;
    color: blue;
  }
  p {
    margin: 0;
    color: blue;
  }
  h3 {
    font-weight: 700;
  }
  button {
    margin: 0 auto;
    width: 150px;
    padding: 10px 30px;
    border-radius: 40px;
    color: white;
    background-color: blue;
    border: none;
    font-weight: 700;
  }
}
.right-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
  h3 {
    font-weight: 700;
    font-size: 35px;
  }
  ul {
    list-style-type: none;
    line-height: 40px;
    i {
      margin-left: -25px;
      padding-right: 10px;
      color: blue;
    }
  }
}
.footer {
  padding-top: 100px;
}
.footer-top {
  padding: 60px 0;
  position: relative;
  color: white;
}
.left-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h3 {
    font-size: 21px;
    font-weight: 700;
  }
  h1 {
    font-size: 35px;
    font-weight: 700;
    color: blue;
  }
}

.footer-button {
  display: flex;
  gap: 15px;
  button {
    padding: 10px 35px;
    border-radius: 50px;
    background-color: rgb(103, 103, 212);
    color: white;
    font-weight: 800;
    border: 0;
    transition: all 0.3s ease-in;
    &:hover{
      background-color: blue;
    }
  }
}

.footer-top::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 180%;
  z-index: -1;
  background-color: rgb(6, 6, 61);
}
.footer-top::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 180%;
  z-index: -1;
  background-color: rgb(18, 18, 99);
}
.footer-text {
  background-image: url(./assets/footer-bg.png.webp);
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  color: white;
}
.footer-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 10px;
  img {
    width: 190px;
  }
  h2 {
    font-size: 25px;
    font-weight: 600;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }

  ul li {
    line-height: 30px;
    color: rgb(179, 177, 177);
    transition: all 0.3s ease-in;
    &:hover{
      color: rgb(80, 80, 80);
    }
  }
  span {
    color: rgb(179, 177, 177);
  }
  li {
    list-style-type: none;
    color: rgb(168, 167, 167);
  }
  i {
    padding-right: 20px;
  }
}
.copyright {
  color: gray;
  span {
    color: blue;
  }
}
